.feedback-container {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #EEEEEE;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block; 
  }
  
  .tulisan h2 {
    text-align: center;
  }
  
  .tulisan p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-wrapper {
    margin-top: 20px;
  }
  
  .formField {
    position: relative;
    margin-bottom: 33px; 
  }
  
  .formField input,
  .formField textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formField span {
    position: absolute;
    top: -20px;
    left: 1px;
    background-color: #EEEEEE;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .submit-button {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #1c86ee;
  }
  
  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dialog {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
  }
  
  .dialog-header {
    margin-bottom: 20px;
  }
  
  .dialog-title {
    margin: 0;
  }
  
  .dialog-body {
    text-align: center;
  }
  
  .dialog-icon {
    height: 64px;
    width: 64px;
    color: #1e90ff;
  }
  
  .dialog-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .dialog-button {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dialog-button:hover {
    background-color: #1c86ee;
  }
  